.main > img{
  width: 90%;
  border-radius: 10px;
  margin: 10px;
}

#line{
  color: aqua;
}

.main{
  padding: 0px;
  margin: 0px;
  width:200px;
  height:auto;
  border-radius: 20px;
  background-color: black;
}

#Name{
  color: aliceblue;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  border-spacing: none;
}

h3{
  border: 1px solid whitesmoke;
  color: aqua;
  padding: 0px;
  margin: 0px;
}

h4{
  border: 1px solid whitesmoke;
  color: cyan;
  padding: 0px;
  margin: 0px;
}

audio{
  width:100%;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
  margin-left: 0px;
  height: 40px;
  border-radius: none;
}

div{
  margin: 0px;
  padding: 0px;
}