body{
    margin: 0%;
    border: 0%;
    padding: 0%;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(bg6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;

    animation-name: anime;
    animation-duration: 30s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-play-state: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes anime{
     0%{
        background-image: url(bg1.jpg);
     }
     20%{
        background-image: url(bg2.jpg);
     }
     50%{
        background-image: url(bg3.jpg);
     }
     80%{
        background-image: url(bg5.jpg);
     }
     100%{
        background-image: url(bg6.jpg);
     }

}